::selection {
    color: #fff !important;
    background-color: #6060ff !important;
}

@-moz-document url("about:newtab") {
    .icon {
        color: #e1e0e6 !important;
    }
    .wordmark {
        fill: #e1e0e6 !important;
    }
}
